# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app


# Visual studio files
*.vcxproj
*.filters
*.vcxproj.user
*.vcxproj.filters
*.sln

.vs/
.git/
bin/
bin-int/

JSON/

!vendor/opencv_4.6.0/Debug/bin/*
!vendor/opencv_4.6.0/Debug/lib/*
!vendor/opencv_4.6.0/Release/bin/*
!vendor/opencv_4.6.0/Release/lib/*
